@import '../../styles/scss/modules/var';
@import '../../styles/scss/modules/mixins';

@mixin hover-li($color: $blue-morning) {
  h4 {
    cursor: pointer;
  }

  :hover {
    color: $color;
  }
}

%button-circle-config {
  background-position: 50% center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin-right: 5px;
  width: 50px;

  &:focus {
    outline: none;
  }

  // &:hover {
  //   transition: 0.3s ease-out;
  // }
}

.menu-active {
  background-color: $blue-storm;

  div:nth-child(1) {
    button {
      background-color: $blue-storm;
      background-image: url('/cross.svg');

      // &:hover {
      //   background-color: $blue-night;
      // }
    }
  }

  div:nth-child(2) {
    img {
      display: block;
    }

    button:last-child {
      background-color: $blue-storm;
      background-image: url('/login-blanco.svg');

      // &:hover {
      //   background-color: $blue-night;
      // }
    }
  }
}

.menu-inactive {
  background: $white;

  div:nth-child(1) {
    button {
      background-color: $white;
      background-image: url('/menu.svg');

      // &:hover {
      //   background-color: $black-10;
      // }
    }
  }

  div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      display: none;
    }

    button:last-child {
      background-color: $white;
      background-image: url('/login.svg');

      // &:hover {
      //   background-color: $black-10;
      // }
    }
  }
}

.header-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  width: 100%;

  div:nth-child(1) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
      @extend %button-circle-config;
    }
  }

  div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      cursor: pointer;
      margin-right: 20px;
    }

    button:nth-child(2) {
      margin-right: 20px;
    }

    button:last-child {
      @extend %button-circle-config;
      display: none;
    }
  }
}

.header-bottom {
  align-items: center;
  background: $white;
  border-top: 1.5px solid #dae0e9;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;

    li {
      @extend %config-hipervinculos;

      cursor: pointer;
      font-family: $futura-heavy;
      font-size: 14px;
      margin-right: 24px;
    }
  }
}

// TODO:acomodar
%config-hipervinculos {
  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $blue-sky;
    }
  }
}

.menu {
  align-items: center;
  background: $blue-storm;
  border-bottom: 1.5px solid $blue-sky;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    margin: 0;
    padding-bottom: 0;
    padding-left: 32px;
    padding-top: 0;

    li {
      @include hover-li();
      align-items: center;
      box-sizing: content-box;
      color: $blue-light;
      display: flex;
      flex-direction: row;
      height: 50px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

// .menu-active {
//   max-height: 100vh;
//   transition: max-height 0.3s ease-in;
// }

.items-menu {
  align-items: flex-start;
  background: $blue-storm;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // max-height: 0;
  // overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 100;

  ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-top: 10px;
    width: 100%;

    li {
      @include hover-li();
      color: $blue-light;
      cursor: pointer;
      font-family: $futura-heavy;
      font-size: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: left;
    }
  }

  ul:last-child {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-top: 10px;

    li {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: left;

      a {
        color: $blue-light;
        cursor: pointer;
        font-family: $futura-heavy;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          color: $yellow-summer;
        }
      }
    }
  }
}

.category-selected {
  border-bottom: 1.5px solid $yellow-summer;
  color: $blue-morning !important;
}

.option-selected {
  color: $blue-morning !important;
}

.option-selected-yellow {
  color: $yellow-summer !important;
}

@include media('md') {
  .header-top,
  .menu-header {
    padding-bottom: 15px;

    div:nth-child(2) {
      img {
        display: none;
      }

      button {
        display: none;
      }

      button:last-child {
        display: block;
      }
    }
  }

  .header-bottom {
    display: none;
  }

  .items-menu {
    ul:first-child {
      border-bottom: 1.5px solid $blue-sky;
    }

    ul:last-child {
      display: flex;
    }
  }
}

@include media('sm') {
  .header-top,
  .menu-header {
    padding-left: 5px;
    padding-right: 5px;

    div:nth-child(1) {
      img {
        width: 80%;
      }
    }
  }
}
