@import '../../../../../styles/scss/modules/var';

.elipse {
  align-items: center;
  background-color: $blue-light;
  border-radius: 50%;
  display: flex;
  height: 136px;
  justify-content: center;
  width: 136px;
}

.line-height-h2 {
  line-height: 10px;
}
