@import '../../../../../styles/scss/modules/var';

.footer {
  border-top: 1.5px solid $blue-shadow;
}

.footer-paginator {
  background-color: $white;
  border-top: 1.5px solid $blue-shadow;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.data-count {
  font-family: $lato-regular;
}

.rows-per-page {
  border-left: 1.5px solid $gray-light;
  font-family: $lato-regular;
}

.table-margin {
  margin-bottom: 80px;
}
