@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.video {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: 250px;
  left: -55px;
  position: absolute;
  top: -50px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .video {
    height: 230px;
    left: 0;
    position: absolute;
    left: -40px;
    top: -50px;
    width: 350px;
  }
}

@media screen and (max-width: 540px) {
  .video {
    height: 270px;
    left: 0;
    position: relative;
    top: 0;
    width: 420px;
  }
}

@media screen and (max-width: 530px) {
  .video {
    height: 270px;
    left: 0;
    position: relative;
    top: 0;
    width: 320px;
  }
}

.video-carrousel {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 30px;
  width: 100%;

  @include media('lg') {
    margin-left: 0;
    margin-top: 0;
  }

  @include media('mobile') {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.video-preview {
  position: relative;

  @include media('lg') {
    margin-bottom: 3rem;
    margin-left: -39px;
    margin-right: -39px;
    margin-top: -24px;
    position: initial;
  }
}

.video-thumbnail {
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: -55px;
  position: absolute;
  top: -50px;

  @include media('lg') {
    position: initial;
    width: 100%;
  }
}

.video-play {
  left: 160px;
  position: absolute;
  top: 50px;

  @include media('lg') {
    left: 45%;
    top: 35%;
  }

  @include media('md') {
    left: 40%;
    top: 25%;
  }

  @include media('sm') {
    left: 40%;
    top: 15%;
  }
}

.circle-button {
}

.next {
  background-color: #f4f6f9;
  color: $blue;
}

.round {
  border-radius: 50%;
}

.a {
  border: 2px solid $blue;
  border-radius: 78%;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

.circle {
  align-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 25px;
  height: 40px;
  justify-content: center;
  outline: none;
  user-select: none;
  width: 40px;

  @include media('lg') {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  &::after {
    content: '\002b';
    font-size: 28px;
    left: 2px;
    line-height: 0;
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    transition: transform 0.3s linear;
  }
}

.circle-blue {
  border: 2px solid $blue-storm;
  color: $blue-storm;

  &::after {
    top: -1px;
    transform: rotate(45deg);
    transition: transform 0.3s linear;
  }
}

.text-blue-morning {
  color: $blue-morning;
}

.text-gray {
  color: $gray-light;
}

.text-blue-light {
  color: $blue-light;
}

.card-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: height 2s;
}

.thumbnail-img {
  background-image: linear-gradient(rgba($blue-storm, 50%), rgba($blue-storm, 50%)),
    url('/requisitos/thumbnail-carrousel.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 89px;
  margin: 0 10px;
  width: 161px;

  &:hover {
    &::after {
      color: $blue-light;
      content: attr(data-description);
      font-family: $lato-bold;
    }
  }

  img {
    left: 45%;
    opacity: 80%;
    position: relative;
    top: 35%;
    width: 22px;
    z-index: 1;
  }
}

.scrollable-carrousel {
  max-height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: max-height 0.3s ease-out;
}

.scrollable-carrousel-active {
  max-height: 100vh;
  transition: max-height 0.3s ease-in;
}
