// Responsive
// @mixin media($consulta) {
//   $media-xlg: "(max-width: 1600px)"; // Resoluciones extragrandes
//   $media-lg: "(max-width: 1200px)"; // Resoluciones grandes
//   $media-md: "(max-width: 992px)"; // Escritorios
//   $media-sm: "(max-width: 768px)";  // Tablets
//   $media-xs: "(max-width : 480px)"; // Telefonos
//   $media-xxs:"(max-width : 320px)"; // iPhone Retina

//   @if $consulta == xxs {
//     @media #{$media-xxs} { @content; }
//   }
//   @if $consulta == xs {
//     @media #{$media-xs} { @content; }
//   }
//   @else if $consulta == sm {
//     @media #{$media-sm} { @content; }
//   }
//   @else if $consulta == md {
//     @media #{$media-md}  { @content; }
//   }
//   @else if $consulta == lg {
//     @media #{$media-lg}  { @content; }
//   }
//   @else if $consulta == xlg {
//     @media #{$media-xlg}  { @content; }
//   }
// }

// $breakpoints: (
//   'desktop': '(min-width: 1280px)',
//   'laptop': '(min-width: 1024px) and (max-width: 1279px)',
//   'mobile': (max-width: 767px),
//   'tablet': '(min-width: 768px) and (max-width: 1023px)',
// ) !default;

// @mixin media($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @media only screen and #{ inspect(map-get($breakpoints, $breakpoint))} {
//       @content;
//     }
//   } @else {
//     @warn 'valor no recibido o no coicide con `#{$breakpoint}`. ';
//   }
// }
//End Responsive

$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

$container-max-widths: (
  xs: 320px,
  sm: 420px,
  md: 720px,
  lg: 960px,
);

$breakpoints: (
  'desktop': (
    min-width: 768px,
  ),
  'mobile': (
    max-width: 767px,
  ),
  'xs': (
    max-width: 319px,
  ),
  'sm': (
    max-width: 479px,
  ),
  'md': (
    max-width: 767px,
  ),
  'lg': (
    max-width: 1023px,
  ),
  'lg+': (
    min-width: 1024px,
  ),
) !default;

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{ inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn 'valor no recibido o no coicide con `#{$breakpoint}`. ';
  }
}

@mixin sub {
  font-family: $futura-heavy;
  font-size: 16px;
}

@mixin body-1 {
  font-family: $futura-book;
  font-size: 18px;
}

@mixin body-2 {
  font-family: $futura-book;
  font-size: 16px;
}

@mixin body-3 {
  font-family: $futura-book;
  font-size: 14px;
}

@mixin button-link {
  font-family: $futura-heavy;
  font-size: 14px;
}

@mixin overline {
  font-family: $futura-book;
  font-size: 12px;
}

@mixin section-config($color: $white) {
  background-color: $color;
  width: 100%;
}

@mixin scroll-config($width) {
  ::-webkit-scrollbar {
    background-color: transparent;
    cursor: pointer;
    width: $width;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($blue-shadow, 80%);
    border-radius: $width;

    &:hover {
      background-color: $blue-shadow;
      opacity: 1;
    }
  }
}

@mixin scroll-config-firefox {
  scrollbar-color: $blue-shadow transparent;
  scrollbar-width: thin;
}
