{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "next/babel",
        "@babel/preset-flow",
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        [ "inline-react-svg" ]
    ]
}