@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.custom-select {
  position: relative;
  width: 100%;
}

/*style the arrow inside the select element:*/

.select-arrow-active {
  &::after {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
}

.select-selected {
  @include body-2;
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid $blue-sky;
  color: $gray-dark;
  cursor: pointer;
  padding: 8px 12px;
  text-align: left;
  user-select: none;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::after {
    background-image: url('/chevron-blue.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    content: '';
    float: right;
    height: 21px;
    transition: transform 0.3s linear;
    width: 21px;
  }
}

/*style items (options):*/
.select-items {
  background-color: $white;
  border: 1px solid $blue-shadow;
  border-radius: 0 0 16px 16px;
  border-top: 0;
  left: 0;
  list-style-type: none;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  transition: max-height 0.5s ease-in;
  z-index: 99;

  ul {
    margin: 0;
    padding: 0;
  }
}

.item {
  @include body-2;
  background-color: transparent;
  border: 0;
  color: $gray-dark;
  cursor: pointer;
  padding: 8px 12px;
  text-align: left;
  user-select: none;
  width: 100%;

  &:hover {
    background-color: $blue-light;
  }
}

/*hide the items when the select box is closed:*/
.select-hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.item-selected {
  background-color: $blue-light;
}
