@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.custom-select {
  @include scroll-config(6px);
  position: relative;
  width: 100%;
}

@mixin help-text-config($color) {
  @include body-3;
  color: $color;
  display: inline-block;
}

.help-text {
  @include help-text-config($gray);
}

.help-text-inverted {
  @include help-text-config($blue-shadow);
}

.help-text-error {
  @include help-text-config($red);
}

@mixin indicador-config($color) {
  border: 0;
  border-bottom: 1.5px solid $color;
}

.indicador-activo {
  @include indicador-config($blue-sky);

  &::after {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
}

.indicador-activo-inverted {
  @include indicador-config($yellow-summer);

  &::after {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
}

.indicador {
  @include indicador-config($gray);
}

.indicador-inverted {
  @include indicador-config($blue-morning);
}

.indicador-error {
  @include indicador-config($red);
}

.placeholder-color-inverted {
  color: $blue-shadow !important;
}

.placeholder-color {
  color: $gray-light !important;
}

@mixin config-select-config($color, $size) {
  background-color: transparent;
  color: $color;
  cursor: pointer;
  font-family: $futura-book;
  font-size: $size;
  overflow: hidden;
  padding: 12px;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 100%;

  @if $size == 32px {
    padding: 0 0 0 12px;
  } @else {
    padding: 8px 0 8px 12px;
  }

  &:focus {
    outline: 0;
  }

  &::after {
    @if $color == $gray {
      background-image: url('/chevron-gray.svg');
    } @else {
      background-image: url('/chevron-blue-morning.svg');
    }

    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    content: '';
    float: right;
    height: 21px;
    transition: transform 0.3s linear;
    width: 21px;
  }

  &:disabled {
    background-color: $blue-light;
    border-bottom: 1.5px solid $gray-light;
    cursor: not-allowed;
  }
}

.select-small {
  @include config-select-config($gray, 16px);
}

.select-small-inverted {
  @include config-select-config($white, 16px);
}

.select-big {
  @include config-select-config($gray, 32px);

  @include media('md') {
    font-size: 16px;
    padding: 8px 0 8px 12px;
  }
}

.select-big-inverted {
  @include config-select-config($white, 32px);

  @include media('md') {
    font-size: 16px;
    padding: 8px 0 8px 12px;
  }
}

.select-items {
  @include scroll-config-firefox;
  background-color: $white;
  border: 1px solid $blue-shadow;
  border-radius: 0 0 16px 16px;
  border-top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 160px;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: 0;
  transition: max-height 0.3s ease-in;
  visibility: visible;
  z-index: 99;
}

.item {
  @include body-2;
  background-color: transparent;
  border: 0;
  color: $gray-dark;
  cursor: pointer;
  padding: 8px 12px;
  text-align: left;
  user-select: none;
  width: 100%;

  &:hover {
    background-color: $blue-light;
  }

  &:focus {
    background-color: $blue-light;
    outline: none;
  }
}

.select-hide {
  border: 0;
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-out;
  transition: border 0.3s;
}

.item-selected {
  background-color: $blue-light;
}
