@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.search-box {
  background-color: $blue-storm;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 110;
}

.text {
  color: $blue-light;
}

.close {
  left: 15px;
  position: absolute;
  top: 15px;
}
