@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.search-box {
  @include scroll-config(10px);
  background-color: $blue-storm;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 110;
}

.text {
  color: $blue-light;
}

.img-search {
  bottom: -32px;
  left: -12px;
  position: relative;
}

.close {
  left: 15px;
  position: absolute;
  top: 15px;
}

.select-items {
  @include scroll-config-firefox;
  background-color: $white;
  border-radius: 0 0 16px 16px;
  border-radius: 0 0 16px 16px;
  border-top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 200px;
  overflow: scroll;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: max-height 0.5s ease-in;
  z-index: 99;
}

.item {
  @include body-2;
  background-color: transparent;
  border: 0;
  color: $gray-dark;
  cursor: pointer;
  padding: 8px 12px;
  text-align: left;
  user-select: none;
  width: 100%;

  &:hover {
    background-color: $blue-light;
  }

  &:focus {
    background-color: $blue-light;
    outline: none;
  }
}

.item[disabled] {
  color: $gray-light;
  cursor: inherit;

  &:hover {
    background: none;
  }
}
