@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.overlay-ine {
  background: linear-gradient(to right, $blue-morning 4px, transparent 4px) 0 0,
    linear-gradient(to right, $blue-morning 4px, transparent 4px) 0 100%,
    linear-gradient(to left, $blue-morning 4px, transparent 4px) 100% 0,
    linear-gradient(to left, $blue-morning 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, $blue-morning 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, $blue-morning 4px, transparent 4px) 100% 0,
    linear-gradient(to top, $blue-morning 4px, transparent 4px) 0 100%,
    linear-gradient(to top, $blue-morning 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  bottom: 50px;
  left: 45px;
  position: absolute;
  right: 45px;
  top: 50px;
}

.overlay {
  background: linear-gradient(to right, $blue-morning 4px, transparent 4px) 0 0,
    linear-gradient(to right, $blue-morning 4px, transparent 4px) 0 100%,
    linear-gradient(to left, $blue-morning 4px, transparent 4px) 100% 0,
    linear-gradient(to left, $blue-morning 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, $blue-morning 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, $blue-morning 4px, transparent 4px) 100% 0,
    linear-gradient(to top, $blue-morning 4px, transparent 4px) 0 100%,
    linear-gradient(to top, $blue-morning 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  position: absolute;
}

.overlay-success {
  background: linear-gradient(to right, $yellow-summer 4px, transparent 4px) 0 0,
    linear-gradient(to right, $yellow-summer 4px, transparent 4px) 0 100%,
    linear-gradient(to left, $yellow-summer 4px, transparent 4px) 100% 0,
    linear-gradient(to left, $yellow-summer 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, $yellow-summer 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, $yellow-summer 4px, transparent 4px) 100% 0,
    linear-gradient(to top, $yellow-summer 4px, transparent 4px) 0 100%,
    linear-gradient(to top, $yellow-summer 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  position: absolute;
}

.video {
  // filter: brightness(1.2);
  object-fit: fill;
  position: absolute;
  // -webkit-filter: brightness(1.2);
  transform: scaleX(-1);
  // -webkit-transform: scaleX(-1);
  @include media('mobile') {
    top: 0 !important;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}
