@import '../../../styles/scss/modules/mixins';

.banner-image-texture {
  left: 90px;
  position: absolute;
  top: -190px;

  @include media('md') {
    left: 120px;
    top: -80px;

    img {
      height: 180px;
    }
  }

  @include media('sm') {
    left: 80px;
    top: -80px;
  }
}

.banner-image-texture-2 {
  left: -80px;
  position: absolute;
  top: 75px;

  @include media('md') {
    left: 70px;
    top: -35px;

    img {
      height: 180px;
    }
  }

  @include media('sm') {
    left: 15px;
  }
}

.banner-image-man {
  position: relative;
  right: 40px;
  top: -40px;

  img {
    height: 750px;
  }

  @include media('lg') {
    top: -25px;
  }

  @include media('md') {
    right: -110px;
    top: -20px;

    img {
      height: 230px;
    }
  }

  @include media('sm') {
    right: -60px;

    img {
      height: 220px;
    }
  }
}

.banner-image-man-requisitos {
  left: 120px;
  position: relative;
  top: -40px;

  img {
    height: 850px;
  }

  @include media('lg') {
    top: -25px;
  }

  @include media('md') {
    left: 150px;
    top: -20px;

    img {
      height: 230px;
    }
  }

  @include media('sm') {
    left: 110px;

    img {
      height: 240px;
    }
  }
}

.banner-image-man2 {
  position: relative;
  right: -35px;
  top: -10px;

  img {
    height: 800px;
  }

  @include media('lg') {
    top: 42px;
  }

  @include media('md') {
    right: -120px;
    top: -20px;

    img {
      height: 300px;
    }
  }

  @include media('sm') {
    right: -85px;

    img {
      height: 300px;
    }
  }
}

.banner-image-woman {
  position: relative;
  top: -26px;

  @include media('lg') {
    top: -38px;
  }

  @include media('md') {
    right: -140px;

    img {
      height: 180px;
    }
  }

  @include media('sm') {
    right: -80px;
  }
}

.button-margin {
  margin: 25px 16px;
  @include media('md') {
    align-self: center;
  }
}
