@import '../../styles/scss/modules/mixins';
@import '../../styles/scss/modules/var';

// .text-title {
//   margin-top: 100px;

//   @include media('mobile') {
//     margin-top: 30px;
//   }
// }

// .banner-image-texture {
//   position: absolute;
//   right: 20px;
//   top: 130px;

//   @include media('mobile') {
//     top: 0;

//     img {
//       display: block;
//       height: auto;
//       max-height: 300px;
//       width: auto;
//     }
//   }
// }

// .banner-image-man {
//   position: absolute;
//   right: 110px;
//   top: 20px;

//   @include media('mobile') {
//     right: 25%;
//     top: 0;

//     img {
//       display: block;
//       height: auto;
//       max-height: 190px;
//       width: auto;
//     }
//   }
// }

.title-line-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-bottom: 2px solid $blue-sky;
  border-bottom-left-radius: 10px;
  border-left: 2px solid $blue-sky;
  padding: 0 20px;
  width: 100%;

  @include media('md') {
    border: 0;
    padding: 0;

    h2 {
      font-size: 28px !important;
      text-align: center !important;
    }

    p {
      font-size: 14px !important;
      text-align: center;
    }

    &::before {
      display: none;
    }
  }

  h2 {
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    span:first-child {
      color: $blue-storm;
    }

    span:last-child {
      color: $blue-sky;
    }
  }

  p {
    @include body-2;
    color: $gray-dark;
  }

  &::before {
    background-color: $white;
    border: $blue-sky solid 2px;
    border-radius: 50%;
    content: '';
    float: left;
    height: 10px;
    left: -26px;
    position: relative;
    width: 10px;
  }
}

.section-1 {
  max-width: 470px;
  padding-bottom: 9rem;
  width: 100%;

  @include media('mobile') {
    padding: 0 20px 6rem;
  }
}

.title {
  text-transform: uppercase;

  h2 {
    line-height: 140%;
  }

  span {
    color: $blue-morning;
  }
}

.note {
  background: $blue-storm;
  border-radius: 16px;
  color: $white;
  padding: 24px;
  width: 90% !important;
}

.table {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  top: -110px;

  @include media('mobile') {
    padding: 0 !important;
    top: -70px;
  }

  td {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  tr {
    border-bottom: 1.5px solid $blue-shadow;
  }

  tr:last-child {
    border-bottom: none;
  }
}

.w-800 {
  max-width: 800px;
  width: 100%;
}

.w-490 {
  max-width: 490px;
}

.requirement-list {
  list-style: none;
  padding: 0;

  > li div:last-child {
    border-bottom: 1.5px solid $blue-shadow;
    padding: 10px 0;
  }

  > li:last-child div:last-child {
    border-bottom: none;
  }
}

.mobile-requirements {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  top: -60px;
}

.video-container {
  display: flex;
  max-width: 800px;
  padding: 24px 24px 0;

  @include media('mobile') {
    flex-direction: row;
  }

  h4 {
    color: $blue-morning;
  }

  p {
    color: $white;
  }
}

.video-preview {
  position: relative;

  @include media('lg') {
    margin-bottom: 3rem;
    margin-left: -39px;
    margin-right: -39px;
    margin-top: -24px;
    position: initial;
  }
}

.video-thumbnail {
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: -55px;
  position: absolute;
  top: -50px;

  @include media('lg') {
    // min-height: 159.73px;
    // min-width: 370px;
    position: initial;
    width: 100%;
  }
}

.video-play {
  left: 160px;
  position: absolute;
  top: 50px;

  @include media('lg') {
    left: 45%;
    top: 35%;
  }
}

.circle {
  align-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 25px;
  height: 40px;
  justify-content: center;
  user-select: none;
  width: 40px;

  @include media('lg') {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-blue-morning {
  color: $blue-morning;
}

.text-blue-light {
  color: $blue-light;
}
