@import '../../styles/scss/modules/mixins';
@import '../../styles/scss/modules/var';

.text-title {
  margin-top: 100px;

  @include media('mobile') {
    margin-top: 30px;
  }
}

.banner-image-texture {
  position: absolute;
  right: 20px;
  top: 130px;

  @include media('mobile') {
    top: 0;

    img {
      display: block;
      height: auto;
      max-height: 300px;
      width: auto;
    }
  }
}

.banner-image-man {
  position: absolute;
  right: 110px;
  top: 20px;

  @include media('mobile') {
    right: 25%;
    top: 0;

    img {
      display: block;
      height: auto;
      max-height: 190px;
      width: auto;
    }
  }
}

.title-line-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-bottom: 2px solid $blue-sky;
  border-bottom-left-radius: 10px;
  border-left: 2px solid $blue-sky;
  padding: 0 20px;
  width: 100%;

  @include media('md') {
    border: 0;
    padding: 0;

    h2 {
      font-size: 28px !important;
      text-align: center !important;
    }

    p {
      font-size: 14px !important;
      text-align: center;
    }

    &::before {
      display: none;
    }
  }

  h2 {
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    span:first-child {
      color: $blue-storm;
    }

    span:last-child {
      color: $blue-sky;
    }
  }

  p {
    @include body-2;
    color: $gray-dark;
  }

  &::before {
    background-color: $white;
    border: $blue-sky solid 2px;
    border-radius: 50%;
    content: '';
    float: left;
    height: 10px;
    left: -26px;
    position: relative;
    width: 10px;
  }
}

.section-1 {
  max-width: 470px;
  width: 100%;

  @include media('mobile') {
    padding: 0 20px;
  }
}

.title {
  text-transform: uppercase;

  h2 {
    line-height: 140%;
  }

  span {
    color: $blue-sky;
  }
}

.security-note {
  background: $blue-storm;
  border-radius: 16px;
  color: $white;
  max-width: 490px;
  padding: 24px;
  width: 90%;
}
