.content-check {
  position: relative;
}

.my-check {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.my-check:checked + .label::after {
  display: inline-block;
}

.label::after {
  border-bottom: 2px solid #225aa7;
  border-right: 2px solid #225aa7;
  content: '';
  display: none;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 2px;
  transform: rotate(50deg);
  width: 4px;
}

.label {
  border: 2px solid #225aa7;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 18px;
}

.modal-container {
  width: 560px;
}

.modal-video {
  border-radius: 6px;
}
