@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.container-height {
  height: 450px;
}

.info::after {
  background-image: url('/info.png');
  background-size: cover;
  content: '';
  display: inline-block;
  height: 17px;
  margin-left: 10px;
  width: 17px;
}

.show-check {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  visibility: visible;
  width: 18px;
}

.hide-check {
  visibility: hidden;
}

.content-check {
  position: relative;
}

.my-check {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.my-check:checked + .label::after {
  display: inline-block;
}

.label::after {
  border-bottom: 2px solid #225aa7;
  border-right: 2px solid #225aa7;
  content: '';
  display: none;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 2px;
  transform: rotate(50deg);
  width: 4px;
}

.label {
  border: 2px solid #225aa7;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 18px;
}
