@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.container-sidebar {
  background-color: $blue-storm;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  right: calc(100% - 276px);
  top: 0;
  z-index: 1;
}

.sidebar-active {
  z-index: 3;
}

.header-sidebar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 15px 20px;
}

.button-sidebar {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

.item-sidebar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 20px;

  p {
    margin: 0;
    padding-left: 26px;
  }
}

.perfil-sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 16px;

  p {
    padding-left: 0;
  }
}
