@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.container-check-text {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.container-check {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.my-check {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.my-check:checked + .label::after {
  display: inline-block;
}

.label::after {
  border-bottom: 2px solid $blue-storm;
  border-right: 2px solid $blue-storm;
  content: '';
  display: none;
  height: 12px;
  left: 5px;
  position: absolute;
  top: 1px;
  transform: rotate(50deg);
  width: 6px;
}

.label {
  background-color: $white;
  border: 2px solid $blue-storm;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
}

.gray-label {
  border-color: $gray;

  &::after {
    border-color: $blue-storm;
  }
}

.my-check:checked + .gray-label {
  border-color: $blue-storm;
}
