@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.group {
  position: relative;
  width: 100%;
}

@mixin input-config($color, $size) {
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid $blue-morning;
  color: $color;
  display: block;
  font-family: $futura-book;
  font-size: $size;

  @if $size == 32px {
    padding: 0 0 0 12px;
  } @else {
    padding: 8px 0 8px 12px;
  }

  width: 100%;

  &:focus {
    outline: none;
  }

  // &:focus ~ .label,
  // &:valid ~ .label {
  //   color: $blue-morning;
  //   font-size: 14px !important;
  //   top: -20px;
  // }
}

.input-big {
  @include input-config($gray, 32px);
}

.input-big-reverse {
  @include input-config($gray, 32px);
}

.input-small {
  @include input-config($white, 16px);
}

.input-small-reverse {
  @include input-config($white, 16px);
}

@mixin config-label($color) {
  @include body-2;
  color: $color;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.2s ease all;
}

.label {
  @include config-label($gray);
}

.label-inverted {
  @include config-label($blue-shadow);
}

.label-active {
  font-size: 14px !important;
  top: -20px;
}

.capitalize {
  text-transform: capitalize;
}

.indicador-normal {
  border-bottom: 1.5px solid $gray;
}

.indicador-normal-inverted {
  border-bottom: 1.5px solid $blue-morning;
}

.indicador-activo {
  border-bottom: 1.5px solid $blue-sky;
}

.indicador-activo-inverted {
  border-bottom: 1.5px solid $yellow-summer;
}

.indicador-error {
  border-bottom: 1.5px solid $blue-morning;
}

.help-text {
  @include body-3;
  color: $gray;
  display: block;
}

.help-text-error {
}

.size-big {
  font-size: 32px;
}

.size-small {
  font-size: 16px;
}

@mixin icon-config($color) {
  height: 20px;
  width: 20px;

  path {
    stroke: $color;
  }
}

.icon-error {
  @include icon-config($red);
}

.icon-check {
  @include icon-config($blue-storm);
}

.icon-check-inverted {
  @include icon-config($blue-morning);
}

.status-icon {
  position: absolute;
  right: 10px;
  top: 15%;
}

@mixin button-password-config($color) {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: 35px;
  top: 15%;

  &:focus {
    outline: none;
  }

  svg {
    height: 20px;
    width: 20px;

    path {
      stroke: $color;
    }

    circle {
      fill: $color;
    }

    path:last-child {
      fill: $color;
    }
  }
}

.button-password-inverted {
  @include button-password-config($blue-morning);
}

.button-password {
  @include button-password-config($gray);
}
