@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.group {
  position: relative;
  width: 100%;
}

@mixin input-config($color, $size) {
  background-color: transparent;
  border: 0;
  color: $color;
  display: block;
  font-family: $futura-book;
  font-size: $size;
  width: 100%;

  @if $size == 32px {
    padding: 0 12px;
  } @else {
    padding: 8px 12px;
  }

  &:focus {
    outline: none;
  }

  &[type='number'] {
    appearance: textfield;
  }

  &::placeholder {
    color: $gray-light;
  }
}

.input-big {
  @include input-config($gray, 32px);
  border-bottom: 1.5px solid $gray;

  @include media('md') {
    font-size: 16px;
    padding: 8px 12px;
  }
}

.input-big-inverted {
  @include input-config($gray, 32px);
  border-bottom: 1.5px solid $blue-morning;

  @include media('md') {
    font-size: 16px;
    padding: 8px 12px;
  }
}

.input-small {
  @include input-config($white, 16px);
  border-bottom: 1.5px solid $gray;
}

.input-small-inverted {
  @include input-config($white, 16px);
  border-bottom: 1.5px solid $blue-morning;
}

@mixin config-label($color) {
  @include body-2;
  color: $color;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.2s ease all;
}

.label-small {
  @include config-label($gray);
}

.label-small-inverted {
  @include config-label($blue-shadow);
}

.label-error {
  @include config-label($red);
}

.label-active {
  font-size: 12px !important;
  top: -16px;
}

.capitalize {
  text-transform: capitalize;
}

.indicador-activo {
  border-bottom: 1.5px solid $blue-sky;
}

.indicador-activo-inverted {
  border-bottom: 1.5px solid $yellow-summer;
}

.indicador-error {
  border-bottom: 1.5px solid $red;
  padding-right: 60px;
}

@mixin help-text-config($color) {
  @include body-3;
  color: $color;
  display: inline-block;
}

.help-text {
  @include help-text-config($gray);
}

.help-text-inverted {
  @include help-text-config($blue-shadow);
}

.help-text-error {
  @include help-text-config($red);
}

@mixin icon-config($color) {
  height: 20px;
  width: 20px;

  path {
    stroke: $color;
  }
}

.icon-error {
  @include icon-config($red);
}

.icon-check {
  @include icon-config($blue-storm);
}

.icon-check-inverted {
  @include icon-config($blue-morning);
}

.status-icon {
  position: absolute;
  right: 0;
  top: 14px;

  @include media('md') {
    top: 7px;
  }
}

@mixin button-password-config($color) {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: 35px;
  top: 15%;

  &:focus {
    outline: none;
  }

  svg {
    height: 20px;
    width: 20px;

    path {
      stroke: $color;
    }

    circle {
      fill: $color;
    }

    path:last-child {
      fill: $color;
    }
  }
}

.button-password-inverted {
  @include button-password-config($blue-morning);
}

.button-password {
  @include button-password-config($gray);
}
