@import '../modules/var';
@import '../modules/mixins';

.content {
  background: $blue-light;
  border-radius: 16px;

  &:last-child{
    border-bottom: none;
  }
}

.content_item {
  padding: 1.5rem 0px 1rem 0px;
  margin: 0px 1.5rem 0px 1.5rem;

  border-bottom: 1.5px solid $blue-shadow;
  &:last-child{
    border-bottom: none;
  }
}
