@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.container-visor-pdf {
  align-items: center;
  background-color: $black-40;
  display: flex;
  flex-direction: column;
  height: calc(100% - 62px);
  justify-content: center;
  overflow: auto;
  user-select: none;
}

.expand {
  align-items: flex-start;
  justify-content: flex-start;
}

.container-controls-visor-pdf {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
}

.buttons-controls-visor-pdf {
  align-items: center;
  background-color: $blue-storm;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;

  button {
    background-color: transparent;
    border: 0;
    margin: 0 8px;
    padding: 0;

    // svg {
    //   height: 24px;
    //   width: 24px;
    // }

    &:focus {
      outline: 0;
    }

    &:disabled {
      cursor: not-allowed;

      path {
        stroke: $gray-light;
      }
    }
  }

  span {
    @include body-2;
    color: $yellow-summer;
    margin: 0 16px;
  }
}

.turn-expand {
  svg {
    path:nth-child(1) {
      transform: translate(-11px, 11px);
    }

    path:nth-child(2) {
      transform: translate(11px, -11px);
    }
  }
}

.turn-arrow {
  transform: rotateX(180deg) translateY(-4px);
}

.turn-right {
  transform: rotateZ(180deg);
  transform: rotateY(180deg);
}
