@import '../../styles/scss/modules/mixins';
@import '../../styles/scss/modules/var';

.color-blue-morning {
  color: $blue-morning;
}

.color-white-text {
  color: $white;
}

.color-white {
  color: $white;
  line-height: 26px;
}

.design-pipe {
  border: 0;
  border-right: 2px solid #81c1ea;
}

.title-top {
  color: $blue-storm;
  font-size: 24px !important;
  margin-top: 25px;
  text-align: center;
}

.title-value-simulator {
  color: $gray;
  font-size: 25px !important;
}

.title-benefits {
  line-height: 30px;
}

.value-side {
  font-size: 25px !important;
}

.title-input {
  color: $blue-storm;
  font-size: 17px !important;
}

.input-text {
  color: $gray;
  font-size: 14px !important;
  top: 15px;
}

.simulator-content {
  background: $white;
  position: relative;
}

.image-home {
  border-radius: 200px;
}

.circle-container {
  position: relative;
}

.circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 90px;
  position: absolute;
  text-align: center;
  width: 90px;
  z-index: 9;
}

.circle1 {
  background: $blue-night;
  left: 20%;
  top: 82%;
}

.circle2 {
  background: $blue-storm;
  left: 12%;
  top: 57%;
}

.circle3 {
  background: $blue-sky;
  left: 18%;
  top: 33%;
}

.circle4 {
  background: $blue-storm;
  left: 29%;
  top: 15%;
}

.circle5 {
  background: $blue-sky;
  left: 63%;
  top: 20%;
}

.text-radius {
  color: $white;
  font-size: 13px;
  width: 100%;
}

.text-links {
  font-family: Futura;
}

.simulator-info {
  border-radius: 0 0 25px 25px;
  bottom: 30px;
  box-shadow: 1px 15px 22px #efeeee;
  position: relative;
}

.chunk-box {
  background: $white;
  border-radius: 25px 25px 0 0;

  bottom: 480px;
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

@media screen and (max-width: 768px) {
  .design-pipe {
    border-bottom: 2px solid #81c1ea;
    border-right: 0px;
  }

  .chunk-box {
    bottom: 254px;
    top: -29px;
  }

  .image-home {
    top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .chunk-box {
    bottom: 482px;
  }

  .text-radius {
    font-size: 10px;
  }

  .circle {
    height: 70px;
    width: 75px;
  }

  .circle1 {
    left: 20%;
    top: 92%;
  }

  .circle2 {
    left: 10%;
    top: 68%;
  }

  .circle3 {
    left: 12%;
    top: 42%;
  }

  .circle4 {
    left: 25%;
    top: 19%;
  }

  .circle5 {
    left: 63%;
    top: 33%;
  }
}
