@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

%accordion-config {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: none;
  padding: 18px 0;
  text-align: left;
  transition: 0.4s;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.arrow-icon-white {
  &::after {
    background-image: url('/chevron.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    content: '';
    height: 21px;
    transition: transform 0.3s linear;
    width: 21px;
  }
}

.cross-icon-white {
  &::after {
    color: $white;
    content: '\002b';
    font-size: 28px;
    left: 10px;
    line-height: 0;
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    transition: transform 0.3s linear;
  }
}

.arrow-icon-blue {
  &::after {
    background-image: url('/chevron-blue.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    content: '';
    height: 21px;
    transition: transform 0.3s linear;
    width: 21px;
  }
}

.cross-icon-blue {
  &::after {
    color: $blue-storm;
    content: '\002b';
    font-size: 28px;
    left: 10px;
    line-height: 0;
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    transition: transform 0.3s linear;
  }
}

.accordion-white {
  @extend %accordion-config;
  @include button-link;

  color: $white;
}

.accordion-blue {
  @extend %accordion-config;
  @include sub;

  color: $blue-storm;
}

.active-arrow {
  &::after {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
}

.active-cross {
  &::after {
    content: '\2212';
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
}

.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s ease-out;
}

.panel-active {
  max-height: 100vh;
  transition: max-height 0.3s ease-in;
}

.border {
  border-bottom: 1.5px solid #dae0e9;

  &:last-child {
    border-bottom: 0;
  }
}
