@import '../../styles/theme/colors';

@mixin style-500 {
  .image-error-container {
    text-align: center;
    width: 100%;
    .image-error {
      animation-name: error;
      animation-duration: 2s;      

      @keyframes error {
          from {
            opacity: 0;
            transform: translateX(-10%);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

      @include media('mobile') {
        width: 60%;
      }
    }
  }

  .message-container {
    margin: 24px auto;
    text-align: center;
     .message-error {
      color: $negro;
      font-family: 'Rubik-Light';
      font-size: 18px;
      margin: 0 auto;
      text-align: center;
      width: 500px;
      &.highlighted {
        font-size: 22px;
        font-family: 'Rubik-Bold';
        color: $turquesa;
        width: 100%;
      }
    }
  }


  .animation-container { 
    display: none;
  }
}