@import '../../styles/scss/modules/var';

.container {
  background-color: $blue-storm;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.content {
  top: -250px;
}

.background {
  z-index: 0;
}

.background-top-right {
  position: absolute;
  right: 0;
}

.background-bottom-left {
  left: 0;
  position: absolute;
  top: 50%;
}
