@import '../../styles/scss/modules/var';

.container {
  // max-width: 1440px;
  // max-height: 500px;
  height: 500px;
  background-color: $blue-storm;
  position: relative;
}

.content {
  // position: relative;
  top: -250px;
}

.background {
  z-index: 0;
}

.background_top_right {
  position: absolute;
  right: 0px;
}

.background_bottom_left {
  position: absolute;
  top: 50%;
  left: 0px;
}