@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.slide-container {
  width: 100%;
}

.slider {
  appearance: none;
  background-clip: content-box;
  border-radius: 5px;
  height: 10px;
  opacity: 1;
  outline: none;
  transition: opacity 0.2s;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: $blue-light;
  background-image: url('/slider.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 4px solid $blue-storm;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;

  &:hover {
    box-shadow: 0 0 0 6px rgba($blue-morning, 20%);
  }
}

.slider::-moz-range-thumb {
  appearance: none;
  background: $blue-light;
  background-image: url('/slider.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 4px solid $blue-storm;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;

  &:hover {
    box-shadow: 0 0 0 6px rgba($blue-morning, 20%);
  }
}
