@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.buttons-arrow {
  @include sub;
  background-color: transparent;
  border: 0;
  color: $blue-sky;
  padding: 0;

  svg {
    path {
      stroke: $blue-sky;
    }
  }

  span {
    margin: 0 10px;
  }
}

.tab-content {
  position: relative;

  span:first-child {
    margin-left: 0;
  }

  span:last-child {
    margin-right: 0;
  }

  &::before {
    border-bottom: 2px solid $blue-light;
    bottom: -10px;
    content: '';
    height: 1px;
    left: 4%;
    position: absolute;
    right: 4%;
    width: 92%;
  }
}

.tab-info {
  @include sub;
  color: $gray-light;
  margin: 0 8px;

  @include media('lg+') {
    margin: 0 16px;
  }
}

.tab-active {
  color: $blue-storm;
  position: relative;

  &::before {
    border-bottom: 2px solid $blue-storm;
    bottom: -13px;
    content: '';
    height: 1px;
    left: 15%;
    position: absolute;
    right: 15%;
    width: 70%;
  }
}
