@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.content-check {
  position: relative;
}

.my-check {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.my-check:checked + .label:after {
  display: inline-block;
}

.label:after {
  content: '';
  display: none;
  transform: rotate(50deg);
  height: 10px;
  width: 4px;
  position: absolute;
  left: 6px;
  top: 2px;
  border-bottom: 2px solid #225aa7;
  border-right: 2px solid #225aa7;
}

.label {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #225aa7;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
