// Buttons
button {
  &:focus {
    outline: none;
  }
}

%disabled {
  background-color: $gray-light;
  color: $white;
}

%transition-before {
  &::before {
    left: 0;
    opacity: 1;
    right: 0;
    transition: 0.5s all ease;
  }
}

@mixin button-config($width, $height: 50px, $radius: 10px) {
  border-radius: $radius;
  cursor: pointer;
  font-family: $futura-heavy;
  font-size: 14px;
  height: $height;
  line-height: 130%;
  width: $width;

  &:hover:enabled {
    box-shadow: 0 4px 6px $black-20;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-background($color: $white, $inverted: false) {
  @if $color == $white {
    background-color: transparent;
    border: 2px solid $blue-storm;
    box-sizing: border-box;
    color: $blue-storm;
    overflow: hidden;
    position: relative;
    transition: 0.5s all ease;
    z-index: 1;

    &::before {
      background-color: $blue-storm;
      bottom: 0;
      content: '';
      left: 50%;
      opacity: 0;
      position: absolute;
      right: 50%;
      top: 0;
      transition: 0.5s all ease;
      z-index: -2;
    }

    @if $inverted {
      border-color: $white;
      color: $white;

      &:hover {
        color: $blue-storm;
      }

      &:focus {
        color: $blue-storm;
      }

      &::before {
        background-color: $white;
      }
    } @else {
      &:hover {
        color: $white;
      }

      &:focus {
        color: $white;
      }
    }

    &:hover {
      @extend %transition-before;
    }

    &:focus {
      @extend %transition-before;
    }
  } @else if $color == $blue-storm {
    background-color: $color;
    border: 0;
    color: $white;
    transition: 0.3s;

    &:hover:enabled {
      background-color: $blue-night;
      transform: scale(1.2);
    }

    &:focus {
      background-color: $blue-night;
    }

    &:disabled {
      @extend %disabled;
    }
  } @else {
    background-color: $color;
    border: 0;
    color: $blue-storm;
    transition: 0.3s;

    &:hover:enabled {
      background-color: $blue-morning;
      transform: scale(1.2);
    }

    &:focus {
      background-color: $blue-morning;
    }

    &:disabled {
      @extend %disabled;
    }
  }
}

.btn-link {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: $futura-heavy;
  font-size: 14px;
  justify-content: space-between;
  padding: 0;
  text-align: left;

  &::after {
    background-image: url('/arrow-right.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: '';
    height: 16px;
    padding-left: 20px;
    width: 16px;
  }

  &:focus {
    outline: none;
  }
}

.btn-link-blue-sky {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: $blue-sky;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: $futura-heavy;
  font-size: 14px;
  justify-content: space-between;
  padding: 0;
  text-align: left;

  &::after {
    background-image: url('/arrow-right.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: '';
    height: 16px;
    padding-left: 20px;
    width: 16px;
  }

  &:focus {
    outline: none;
  }
}

.btn-link-white {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: $white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Futura;
  font-size: 14px;
  justify-content: space-between;
  padding: 0;
  text-align: left;
  text-decoration: underline $white;

  &::after {
    background-image: url('/arrow-right.svg');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: '';
    height: 16px;
    padding-left: 20px;
    width: 16px;
  }

  &:focus {
    outline: none;
  }
}

.btn-float-button {
  @include button-config(60px, 60px, 50%);
  background-color: $yellow-summer;
  border: 0;
  bottom: 5%;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 5%;
}

.cicle-button-blue {
  @include button-config(60px, 60px, 50%);
  background-color: $blue-storm;
  background-image: url('/chevron.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 0;

  @include media('md') {
    bottom: 0;
    position: fixed;
  }

  &:disabled {
    background-color: $gray-light;
  }
}

.btn-big {
  @include button-config(180px);
  @include button-background($yellow-summer);
}

.btn-medium {
  @include button-config(150px);
  @include button-background($blue-storm);
}

.btn-medium-yellow {
  @include button-config(150px);
  @include button-background($yellow-summer);
}

.btn-small {
  @include button-config(120px);
  @include button-background($blue-storm);
}

.btn-mini {
  @include button-config(80px, 32px, 8px);
  @include button-background($blue-storm);
}

.btn-big-secondary {
  @include button-config(180px);
  @include button-background();
}

.btn-medium-secondary {
  @include button-config(150px);
  @include button-background();
}

.btn-medium-secondary-inverted {
  @include button-config(150px);
  @include button-background($white, true);
}

.btn-small-secondary {
  @include button-config(120px);
  @include button-background();
}

.btn-mini-secondary {
  @include button-config(80px, 32px, 8px);
  @include button-background();
}

// End Buttons
