.card-simple-white {
  background-color: $white;
  border-radius: 16px;
  color: $gray-dark;
  padding: 24px;

  p {
    @include body-2;
  }
}

.card-simple-white-shadow {
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 2;
}

.card-simple-gray {
  background-color: #f4f6f9;
  border-radius: 16px;
  color: $gray-dark;
  padding: 24px;

  p {
    @include body-2();
  }
}

.card-simple-blue-night {
  background-color: $blue-night;
  border-radius: 16px;
  color: $white;
  display: flex;

  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 10px;

  @include media('sm') {
    flex-direction: row;
    padding: 18px;

    img {
      margin-right: 18px;
      width: 48px;
    }

    div {
      h4 {
        align-self: flex-start;
        margin: 0;
        text-align: left;
      }

      p {
        align-self: flex-start;
        margin: 0;
        text-align: left;
      }
    }
  }
}

.card-simple-blue-storm {
  background-color: $blue-storm;
  border-radius: 16px;
  color: $white;
  padding: 24px;

  p {
    @include body-2;
  }
}

@mixin config-card($color) {
  background-color: $color;
  border-radius: 16px;
  padding: 24px;
  width: 100%;

  @include media('md') {
    padding: 18px;
  }
}

.card-simple-blue-light {
  @include config-card($blue-light);

  p {
    @include body-2;
    color: $gray-dark;
  }
}

@mixin config-card-sombra($color) {
  @include config-card($color);
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;

  @include media('md') {
    flex-direction: row;
  }
}

.card-blue-night {
  @include config-card-sombra($blue-night);
}

.line-card {
  border: 0;
  border-right: 2px solid $blue-morning;

  @include media('md') {
    border: 0;
    border-bottom: 2px solid $blue-morning;
  }
}

@mixin config-card-transparent-only-row($color) {
  align-items: flex-start;
  background-color: $color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 24px;
  width: 100%;

  @include media('md') {
    padding: 0;
  }
}

.card-transparent-only-row {
  @include config-card-transparent-only-row(transparent);
}

.card-simple-white-img {
  align-items: center;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 10px 15px rgba(0, 42, 97, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 24px;

  @include media('md') {
    flex-direction: row;
    padding: 18px;

    img {
      margin-right: 18px;
      width: 48px;
    }

    div {
      h4 {
        align-self: flex-start;
        margin: 0;
        text-align: left;
      }

      p {
        align-self: flex-start;
        margin: 0;
        text-align: left;
      }
    }
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: $blue-storm;
      text-align: center;
    }

    p {
      @include body-2;
      text-align: center;
    }
  }
}

.card-simple-transparent-img {
  align-items: center;
  background-color: $white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 24px 0;

  @include media('md') {
    flex-direction: row;

    svg {
      margin-right: 18px;
    }

    p {
      margin: 0;
      text-align: left;
    }
  }

  p {
    @include sub;
    color: $blue-storm;
    text-align: center;
  }
}

.card-simple-white-svg {
  align-items: center;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 24px 0;
  width: 100%;

  svg {
    display: inline-block;
    height: 80px;
    padding-bottom: 16px;
    width: 80px;
  }

  p {
    @include sub;

    color: $gray;
    text-align: center;
  }

  @include media('md') {
    flex-direction: row;
    padding: 16px;

    div {
      margin-right: 12px;
      width: 20%;

      svg {
        height: 48px;
        padding-bottom: 0;
        width: 48px;
      }
    }

    p {
      margin: 0;
      text-align: left;
      width: 80%;
    }
  }
}

.card-button {
  border: 2px solid transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 2px solid $blue-sky;
  }
}

.card-selected-blue-sky {
  border: 2px solid $blue-sky;

  p {
    color: $blue-sky;
  }
}

.card-simple-transparent {
  background-color: transparent;
  border-radius: 16px;
  padding: 24px;
}

.card-accordion {
  background-color: $blue-light;
  border-radius: 16px;
  padding: 0 20px;
}
