@import '../modules/var';
@import '../modules/mixins';


// Default sizes
h1 {
  font-family: $futura-heavy !important;
  font-size: 48px !important;
  @include media('mobile') {
    font-size: 32px !important;
  }
}

h2 {
  font-family: $futura-heavy !important;
  font-size: 36px !important;
  @include media('mobile') {
    font-size: 24px !important;
  }
}

h3 {
  font-family: $futura-heavy !important;
  font-size: 24px !important;
  @include media('mobile') {
    font-size: 18px !important;
  }
}
h4 {
  font-family: $futura-heavy !important;
  font-size: 18px !important;
}
.input {
  font-family: $futura-book !important;
  font-size: 32px !important;
  @include media('mobile') {
    font-size: 18px !important;
  }
}
.sub {
  font-family: $futura-heavy !important;
  font-size: 16px !important;
}
.body1 {
  font-family: $futura-book !important;
  font-size: 18px !important;
}
.body2 {
  font-family: $futura-book !important;
  font-size: 16px !important;
}
.body3 {
  font-family: $futura-book !important;
  font-size: 14px !important;
}
.button {
  font-family: $futura-heavy !important;
  font-size: 14px !important;
}
.overline {
  font-family: $futura-book !important;
  font-size: 12px !important;
}

// Colors

p {
  color: $gray-dark !important;
}
.text-primary {
  color: $blue-storm !important;
}
.text-secondary {
  color: $blue-sky !important;
}
.text-dark {
  color: $gray-dark !important;
}