// Default sizes
h1 {
  font-family: $futura-heavy !important;
  font-size: 48px !important;
  @include media('mobile') {
    font-size: 32px !important;
  }
}

h2 {
  font-family: $futura-heavy !important;
  font-size: 36px !important;
  @include media('mobile') {
    font-size: 24px !important;
  }
}

h3 {
  font-family: $futura-heavy !important;
  font-size: 24px !important;
  @include media('mobile') {
    font-size: 18px !important;
  }
}

h4 {
  font-family: $futura-heavy !important;
  font-size: 18px !important;
}

h5 {
  font-family: $futura-heavy;
  font-size: 16px;
}

.input {
  font-family: $futura-book !important;
  font-size: 32px !important;
  @include media('mobile') {
    font-size: 18px !important;
  }
}

.sub {
  font-family: $futura-heavy !important;
  font-size: 16px !important;
}

.body1 {
  font-family: $futura-book !important;
  font-size: 18px !important;
}

.body2 {
  // @include body-2;
  font-family: $futura-book !important;
  font-size: 16px !important;
}

.body3 {
  // @include body-3;
  font-family: $futura-book !important;
  font-size: 14px !important;
}

.button {
  // @include button-link;
  font-family: $futura-heavy !important;
  font-size: 14px !important;
}

.overline {
  // @include overline;
  font-family: $futura-book !important;
  font-size: 12px !important;
}

// Colors

p {
  color: $gray-dark;
}
