// Global style
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @include media('md') {
//   * {
//     button {
//       &:hover {
//         background-color: transparent !important;
//       }
//     }
//   }
// }
// End global style

.section-white {
  @include section-config();
}

.section-blue-storm {
  @include section-config($blue-storm);
}

.section-blue-night {
  @include section-config($blue-night);
}

.section-blue-light {
  @include section-config($blue-light);
}
