// Global style
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-white {
  @include section-config();
}

.section-blue-storm {
  @include section-config($blue-storm);
}

.section-blue-night {
  @include section-config($blue-night);
}

.section-blue-light {
  @include section-config($blue-light);
}

.section-image {
  @include section-config();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.section-blue-storm-grad {
  background: linear-gradient(0deg, $white 25%, $blue-storm 0%);
  width: 100%;
  @include media('md') {
    background: linear-gradient(0deg, $white 45%, $blue-storm 0%);
  }
}

.contedor-solicitud {
  margin: auto;
  margin-top: 25%;
  width: 660px;
  @include media('md') {
    margin-bottom: 24px;
    margin-top: 32px;
    width: 270px;
  }
}

.fixed-left-bottom {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

@include scroll-config(16px);

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
