// Global style
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-white {
  @include section-config();
}

.section-blue-storm {
  @include section-config($blue-storm);
}

.section-blue-night {
  @include section-config($blue-night);
}

.section-blue-light {
  @include section-config($blue-light);
}

.section-blue-storm-grad {
  background: linear-gradient(0deg, $white 25%, $blue-storm 0%);
  width: 100%;
  @include media('md') {
    background: linear-gradient(0deg, $white 45%, $blue-storm 0%);
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  cursor: pointer;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($blue-shadow, 80%);
  border-radius: 10px;

  &:hover {
    background-color: $blue-shadow;
    opacity: 1;
  }
}
