.modal-alerta-container {
  width: 424px;

  @include media('sm') {
    width: 270px;
  }
}

.modal-container-video {
  padding: 10px;
  width: 565px;
}

.modal-video {
  border-radius: 6px;

  @include media('sm') {
    height: 315px;
    width: 325px;
  }
}
