@import '../../styles/scss/modules/mixins';
@import '../../styles/scss/modules/var';

.banner-title {
  padding-bottom: 40px;
  padding-top: 100px;
}

.color-white {
  color: $white;
}

.color-blue-morning {
  color: $blue-morning;
}

.chunk-box {
  background: $white;
  border-radius: 25px 25px 0 0;
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: -53px;
  width: 100%;
}

.simulator-info {
  border-radius: 0 0 25px 25px;
  box-shadow: 1px 15px 22px #efeeee;
  position: relative;
}

.result-info {
  border-color: $blue-storm;
  border-radius: 25px;
  border-style: solid;
}

.title-top {
  color: $blue-storm;
  font-size: 25px !important;
  margin-top: 25px;
  text-align: center;
}

.title-info {
  color: $blue-storm;
  margin-bottom: 25px;
  text-align: center;
}

.title-input {
  color: $blue-storm;
  font-size: 18px !important;
}

.input-text {
  color: $gray;
  font-size: 15px !important;
}

.resume-text {
  border-right: solid;
  color: $blue-sky;
}

.container-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
