@import '../../styles/scss/modules/mixins';
@import '../../styles/scss/modules/var';

.banner-title {
  padding-bottom: 40px;
  padding-top: 100px;
}

.color-white {
  color: $white;
}

.color-blue-morning {
  color: $blue-morning;
}
