@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.tooltip {
  position: relative;

  .tooltiptext {
    @include overline;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    color: $gray;
    padding: 8px;
    position: absolute;
    visibility: hidden;
    width: 192px;
    z-index: 1;

    @include media('md') {
      right: 20px;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.position-top {
  bottom: 20px;
}

.position-bottom {
  top: 20px;
}
