@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.tab {
  background-color: transparent;
  width: 100%;
}

.tab-links {
  @include sub;
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid $blue-sky;
  color: $gray;
  cursor: pointer;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;

  @include media('mobile') {
    font-size: 14px;
    padding: 14px 10px;
  }

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.tab-active {
  border-bottom: 1.5px solid $yellow-summer;
  color: $blue-storm;
}

.tab-content {
  background-color: transparent;
  width: 100%;
}
