@import '../../../../styles/scss/modules/var';
@import '../../../../styles/scss/modules/mixins';

.text {
  margin-bottom: 16px;
  text-transform: uppercase;

  @include media('mobile') {
    h1 {
      text-align: center;
    }
  }

  h1 {
    line-height: 120%;
    margin-bottom: 0;
    padding: 0;
  }
}

.box {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line {
  border: 0;
  border-bottom: 1.5px solid $blue-sky;
  border-bottom-left-radius: 8px;
  border-left: 1.5px solid $blue-sky;

  margin-bottom: 40px;
  margin-top: 16px;

  width: 24px;

  &::after {
    background-color: transparent;
    border: $blue-sky solid 1.5px;
    border-radius: 50%;
    content: '';
    float: left;
    height: 16px;
    left: -9px;
    position: relative;
    top: -16px;
    width: 16px;
  }
}

.sub-text {
  background-color: $blue-sky;
  border: 1.5px solid $blue-sky;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;

  @include media('mobile') {
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    padding: 0;
  }

  p {
    color: $white;
    margin: 0;

    @include media('mobile') {
      text-align: center;
    }
  }
}

// .h-55 {
//   height: 55px;

//   @include media('mobile') {
//     height: 40px;
//   }
// }
