@import '../../styles/scss/modules/var';
@import '../../styles/scss/modules/mixins';

.text {
  width: 80%;

  h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.box {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 0;
  width: 100%;
}

.line {
  border-bottom: 4px solid $yellow-summer;
  color: $blue-storm;
  line-height: 100%;
  margin-right: 1rem;
  padding-bottom: 10px;
  text-align: center;
  width: 20%;
}

.primary-inverted {
  color: $white;
}

.secondary-inverted {
  color: $blue-morning;
}

.lh-100 {
  line-height: 100%;
}
