$azul: #0650a0;
$azul-claro: #4fa4ff;
$azul-light: #669cd3;
$azul-oscuro: #0f4068;
$blanco: #ffffff;
$borde-crema-2: #e8dbc0;
$bright-blue: #2668de;
$cat-curuba: #ba8f71;
$cat-dorado: #8e752b;
$cat-verde: #5fa35f;
$cat-violeta: #894d87;
$color-neutral-2-grey: #3f3356;
$crema: #fff8e9;
$gris-azul: #dfe4e9;
$gris-light: #efefef;
$ice-blue: #e7f2ff;
$lavados-azul: #a4c3e3;
$lavados-curuba: #e9bb9b;
$lavados-verde: #aee4bd;
$lavados-violeta: #d1b6d0;
$negro: #6a6a6a;
$otros-azul-cielo: #2b84e3;
$rojo-error: #fe7e7e;
$turquesa: #3bb0a9;
$turquesa-oscuro: #028c84;
