@import '../../styles/mixins/media';

// ------------------------------------------------------------------


@font-face {
    font-family: 'Rubik-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rubik-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: medium;
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

// ------------------------------------------------------------------

// Solo soporta rutas absolutas

h1 {
	font-family: 'Rubik-Bold';
	font-size: 36px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1.8px;
	line-height: 44px;
}

h2 {
	font-family: 'Rubik-Bold';
	font-size: 30px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1.75px;
	line-height: 1.17;
}

h3 {
	font-family: 'Rubik-Bold';
	font-size: 22px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
}

h4 {
	font-family: 'Rubik-Bold';
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
}

h5 {
	font-family: 'Rubik-Bold';
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
}

p {
	font-family: 'Rubik';
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

input {
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-weight: medium;
}

.chatbot {
	font-family: 'Rubik';
	font-size: 10px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

.pados-reservas {
	font-family: 'Rubik';
	font-size: 10px;
	font-stretch: normal;
	font-style: normal;
	font-weight: medium;
}

@include media('mobile') {
	h1 {
		font-size: 28px;
		font-stretch: normal;
		font-style: normal;
		font-weight: bold;
		line-height: 35px;
	}

	h2 {
		font-size: 22px;
		letter-spacing: normal;
		line-height: 1.36;
		margin-bottom: 0;
	}

	p {
		font-size: 14px;
		font-stretch: normal;
		font-style: normal;
		font-weight: normal;
		line-height: 20px;
	}
}
