@import '../../../styles/scss/modules/mixins';
@import '../../../styles/scss/modules/var';

.title-table {
  background-color: $blue-night;
  border-radius: 10px;
  color: $white;
  padding: 5px;
  width: 100%;
  @include media('sm') {
    min-width: 930px;
  }
}

.t-container {
  display: block;
  overflow-x: auto;
  width: 100%;
  @include media('xs') {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}

.td {
  padding-bottom: 30px;
  padding-right: 40px;

  @include media('sm') {
    min-width: 430px;
    padding-bottom: 10px;
    padding-right: 50px;
  }
}

.td2 {
  min-width: 170px;
  padding-bottom: 30px;
  padding-right: 50px;

  @include media('sm') {
    min-width: 190px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
  }
}

.td3 {
  padding-bottom: 30px;
  padding-right: 100px;

  @include media('sm') {
    min-width: 230px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
  }
}
